@import url(http://fonts.googleapis.com/css?family=Calibri:400,300,700);




body {
	background-color: #181b22;
	background-image: url("img/pgs-rep.png");
	background-repeat: repeat-repeat;

	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
	
}

section {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
}

h1 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .1em;
	/* color: #8844EE; */
	margin-bottom: 40px;
}

.smartshopping {
	font-size: 9px;
	letter-spacing: .1em;
	color: #ffffff85;
}

footer {
	text-align: center;
	margin-bottom: 120px;
}

[role="main"] {
	padding-top: 48px;
	/* Espaço para o navbar fixo. */
}

/* APENAS " . " */

.card {
	--bs-card-bg: #ffffff;
}

.post-padd {
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	margin: auto;
}

.card-text-color {
	color: #000000;
}

.row {
	justify-content: flex-end;
}

.publi {
	margin-left: 30%;
}

.a {
	text-decoration: none;
}

.center {
	text-align: center;
	justify-content: center;
}

.btn-outline-light {
	/* Cor da borda (transparente)*/
	--bs-btn-border-color: #83696c00;

	/* Cor da borda (quando cursor estiver em cima) (transparente)*/
	--bs-btn-hover-border-color: #f8f9fc00;

	/* Background */
	--bs-btn-hover-bg: #e8e8e8;

	/* Texto */
	--bs-btn-hover-color: #000000;
}

.btn {
	margin-bottom: 2%;
	transition: all 0.2s ease;
}

.shadow {
	box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
}

.navbar {
	display: block;
}

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}

.box {
	width: 460px;
	height: 500px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
}

.box2 {
	border-radius: 5px;
	margin-top: 64px;
	padding-left: 4rem;
	padding-right: 4rem;
}

.box3 {
	width: 460px;
	height: 600px;
	border-radius: 5px;
	margin-top: 64px;
}

.box p {
	padding-top: 100px;
	font-size: 24px;
	color: white;
	font-family: monaco;
}

.box-first {
	width: 400px;
	height: 800px;
	border-radius: 5px;
	margin: 60px auto 20px auto;
}

.img-tam {
	width: 375px;
	height: 500px
}

.img-tam-vend {
	width: 25%;
	height: auto;
	align-content: center;
	margin-top: 10%;
}

.margin-top-pub {
	margin-top: 3%;

	overflow: hidden;
}

.anav {
	text-align: center;
	margin-top: 5%;
}

.margin-top-nav {
	margin-top: 30%;
}

.margin-top-comm {
	margin-top: 3%;
}

.margin-bottom-comm {
	margin-bottom: 6%;
}

.comentarios {
	margin-top: -100px;
}

.box p {
	padding-top: 100px;
	font-size: 14px;
	color: rgb(14, 3, 3);
	font-family: monaco;
}

/* SIDE BAR */
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	/* Coloca atrás do navbar */
	padding: 48px 0 0;
	/* Altura do navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
	/* Conteúdo com rolagem, se a viewport é menor que o conteúdo. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

/* APENAS " # " */
#comentarioCliente {
	margin-top: -100px;
}

#mais {
	display: none;
}

#white {
	background: white;
}

#gray2 {
	background: rgba(163, 163, 163, 0.651);
}

#origamid {
	font-family: monaco;
	text-decoration: none;
	color: #84E;
	display: inline-block;
}

#origamid::after,
#origamid::before {
	content: '';
	display: block;
	background: #84E;
	width: 0;
	height: 2px;
	border-radius: 4px;
	margin: 6px auto 6px auto;
	transition: all .2s ease;
}

#origamid:hover::after,
#origamid:hover::before {
	width: 100%;
}

/* OUTROS */



.mt-100 {
	margin-top: 100px
}

.mb-100 {
	margin-bottom: 100px
}

.card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0px solid transparent;
	border-radius: 0px
}

.card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem
}

.card .card-title {
	position: relative;
	font-weight: 600;
}

.comment-widgets {
	position: relative;
	margin-bottom: 10px
}

.comment-widgets .comment-row {
	border-bottom: 1px solid transparent;
	padding: 14px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.p-2 {
	padding: 0.5rem !important
}

.comment-text {
	padding-left: 15px
}

.w-100 {
	width: 100% !important
}

.m-b-15 {
	margin-bottom: 15px
}

.btn-sm {
	padding: 0.25rem 0.5rem;
	font-size: 0.76563rem;
	line-height: 1.5;
	border-radius: 1px
}

.btn-cyan {
	color: #fff;
	background-color: #27a9e3;
	border-color: #27a9e3
}

.btn-cyan:hover {
	color: #fff;
	background-color: #1a93ca;
	border-color: #198bbe
}

.comment-widgets .comment-row:hover {
	background: rgba(0, 0, 0, 0.05)
}