body {
	background-color: rgb(241, 241, 241);
	background-image: url("img/pgs-repeat.png");
	background-repeat: repeat-repeat;

		font-family: "Dosis", sans-serif;
		font-optical-sizing: auto;
		font-weight: weight;
		font-style: normal;
}

section {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px 0;
	text-align: left;
}

h1 {
	font-size: 14px;
	font-family: monaco;
	text-transform: uppercase;
	letter-spacing: .1em;
	color: #8844EE;
	margin-bottom: 40px;
}

footer {
	text-align: center;
	margin-bottom: 120px;
}

/* APENAS " . " */
.publi {
	margin-left: 30%;
}


.a {
	text-decoration: none;
}

.center {
	text-align: center;
	justify-content: center;
}

.btn-outline-light {
	--bs-btn-border-color: rgba(0, 0, 0, 0);
}

.btn {
	margin-bottom: 2%;
}

.shadow {
	box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.75);
}

.navbar {
	display: block;
}

.js .anime {
	opacity: 0;
	transform: translate3D(-50px, 0px, 0px);
}

.js .anime-init {
	opacity: 1;
	transform: translate3D(0px, 0px, 0px);
	transition: .3s all ease;
}

.box {
	width: 460px;
	height: 500px;
	border-radius: 5px;
	margin: 0 auto 20px auto;
}

.box2 {
	border-radius: 5px;
	margin-top: 64px;
	padding-left: 4rem;
	padding-right: 4rem;
}

.box3 {
	width: 460px;
	height: 600px;
	border-radius: 5px;
	margin-top: 64px;
}

.box p {
	padding-top: 100px;
	font-size: 24px;
	color: white;
	font-family: monaco;
}

.box-first {
	width: 400px;
	height: 800px;
	border-radius: 5px;
	margin: 60px auto 20px auto;
}

.img-tam {
	width: 375px;
	height: 500px
}

.img-tam-vend {
	width: 25%;
	height: auto;
	align-content: center;
	margin-top: 10%;
}

.margin-top-pub {
	margin-top: 3%;

	overflow: hidden;
}

.anav {
	text-align: center;
	margin-top: 5%;
}

.margin-top-nav {
	margin-top: 30%;
}

.margin-top-comm {
	margin-top: 3%;
}

.margin-bottom-comm {
	margin-bottom: 6%;
}

.comentarios {
	margin-top: -100px;
}

.box p {
	padding-top: 100px;
	font-size: 14px;
	color: rgb(14, 3, 3);
	font-family: monaco;
}

/* APENAS " # " */
#comentarioCliente {
	margin-top: -100px;
}

#mais {
	display: none;
}

#white {
	background: white;
}

#gray2 {
	background: rgba(163, 163, 163, 0.651);
}

#origamid {
	font-family: monaco;
	text-decoration: none;
	color: #84E;
	display: inline-block;
}

#origamid::after,
#origamid::before {
	content: '';
	display: block;
	background: #84E;
	width: 0;
	height: 2px;
	border-radius: 4px;
	margin: 6px auto 6px auto;
	transition: all .2s ease;
}

#origamid:hover::after,
#origamid:hover::before {
	width: 100%;
}