@import "https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:400,700";

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Google icon */

.material-symbols-outlined2 {
    color: #ffffff;
}

/* Fim Google icon */

body,
html {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html body .m-b-0 {
    margin-bottom: 0px
}

body {
    background-color: #181b22;

}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.img-cov {
    object-fit: cover;
}

.card-no-border .card {
    border-color: #d7dfe3;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05)
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.pro-img {
    object-fit: contain;
    margin-top: -80px;
    margin-bottom: 20px
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%
}

.btn-primary,
.btn-primary.disabled {
    background: #dd163b;
    border: 1px solid #dd163b;
    -webkit-box-shadow: 0 2px 2px 0 rgb(255, 255, 255), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.14), 0 3px 1px -2px rgba(255, 255, 255, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in
}

.btn-rounded {
    border-radius: 60px;
    padding: 7px 18px
}

.text-center {
    text-align: center !important
}

.padding {
    padding: 4% !important
}

.m-t-20 {
    margin-top: 20px
}

.b-cta {
    border: #dd163b 1px solid;
    background-color: #dd163b;
    color: #ffffff;
}

.b-cta:hover {
    color: #fff;
    background-color: #000000;
    border: #000000 1px solid;
}

/*--------------------
SIDE BAR
---------------------*/
.margin-top-comm {
    margin-top: 3%;
}

.center {
    text-align: center;
    justify-content: center;
}

.btn {
    margin-bottom: 2%;
    transition: all 0.2s ease;
}

.btn-outline-light {
    /* Cor da borda (transparente)*/
    --bs-btn-border-color: #83696c00;

    /* Cor da borda (quando cursor estiver em cima) (transparente)*/
    --bs-btn-hover-border-color: #f8f9fc00;

    /* Background */
    --bs-btn-hover-bg: #e8e8e8;

    /* Texto */
    --bs-btn-hover-color: #000000;
}

.btn {
    margin-bottom: 2%;
    transition: all 0.2s ease;
}

.btn-rounded.btn-md {
    padding: 12px 35px;
    font-size: 16px
}

.row {
    justify-content: flex-end;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Coloca atrás do navbar */
    padding: 48px 0 0;
    /* Altura do navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Conteúdo com rolagem, se a viewport é menor que o conteúdo. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/* PERFIL */

.TabControl {
    width: 100%;
    overflow: hidden;
    /* height: 400px */
}

.TabControl #header {
    width: 100%;
    overflow: hidden;
    cursor: hand;
}

.TabControl #content {
    width: 100%;
    overflow: visible;
    height: 100%;
}

.TabControl .abas {
    display: inline;
}

.aba {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #dd163bc7
}

.ativa {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #dd163bc7;
}


.ativa span,
.selected span {
    color: #fff
}

.TabControl #content {
    background: #c9c9c9;
}

.TabControl .conteudo {
    width: 100%;
    background: #dd163b;
    display: none;
    height: 100%;
    color: #ffffff;
}

.selected {
    max-width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #dd163b;
}

/* FREEFRONTEND / Postagens */

@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);

*,
*::before,
*::after { 
  box-sizing: border-box;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards__item {
  display: flex;
  padding: 1rem;
  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
}

.card__content {
  /* display: flex; */
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  filter: saturate(180%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%;
    /* 16:9 aspect ratio */
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%;
      /* 3:2 aspect ratio */
    }
  }
}

.card__image--flowers {
  background-image: url(https://unsplash.it/800/600?image=82);
}

.card__image--river {
  background-image: url(https://unsplash.it/800/600?image=11);
}

.card__image--record {
  background-image: url(https://unsplash.it/800/600?image=39);
}

.card__image--fence {
  background-image: url(https://unsplash.it/800/600?image=59);
}

.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

